@font-face {
    font-family: titleFont;
    src: url(resource/Arsenal-Regular.otf);
}

body {
    overflow-x: hidden;
    font-family: arial, helvetica, sans-serif;
    color: #6f6f6f;
    font-size: 15px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
    vertical-align: 5%;
}

a:hover {
    color: darkred;
}

input[type='checkbox']{
    margin-right: 5px;
}

ul {
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    display: inline-block;
    overflow-y: hidden;
}

li {
    padding-top: 5px;
    padding-bottom: 7px;
    border-top: 1px solid #d0d0d0;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

li:hover {
    background-color: #f5f5f5;
}

h2 {
    margin: 0px;
    font-size: 30px;
    float: left;
    font-family: titleFont, arial, helvetica, sans-serif;
}

li > .logo {
    padding-left: 20px;
    padding-right: 0px;
    margin-right: 5px;
}

li > .hideItem {background: url("img/hide.gif") no-repeat 6px 3px}
li > .newTab {background: url("img/newtab.png") no-repeat 3px 3px}

.time {
    color: #a4a4a4;
    vertical-align: 5%;
    font-size: 12px;
    padding-right: 5px;
}

img#title {
    float: left;
    clear: left;
    margin-top: 5px;
    margin-right: 10px;
    width:25px
}

div#toolbar {
    float: right;
}

div#toolbar > a > img {
    clear: left;
    margin-top: 7px;
    margin-left: 10px;
    width:22px;
    height:22px
}