@font-face {
    font-family: titleFont;
    src: url(resource/Arsenal-Regular.otf);
}

body {
    overflow-x: hidden;
    font-family: arial, helvetica, sans-serif;
    color: #6f6f6f;
    font-size: 15px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
    vertical-align: 5%;
}

a:hover {
    color: darkred;
}

input[type='checkbox']{
    margin-right: 5px;
}

ul {
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    display: inline-block;
    overflow-y: hidden;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #d0d0d0;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h2 {
    margin: 0px;
    font-size: 30px;
    float: left;
    font-family: titleFont, arial, helvetica, sans-serif;
}

li > .logo {
    padding-left: 20px;
    padding-right: 2px;
    margin-right: 6px;
}

li > .up {background: url("img/up-icon.ico") no-repeat 4px 0px;}
li > .lb {background: url("img/lb-icon.ico") no-repeat 4px 0px;}
li > .lg {background: url("img/lg-icon.ico") no-repeat 4px 0px;}
li > .un {background: url("img/un-icon.ico") no-repeat 4px 0px;}
li > .cn {background: url("img/cn-icon.ico") no-repeat 4px 0px;}
li > .zn {background: url("img/zn-icon.ico") no-repeat 4px 0px;}
li > .fn {background: url("img/fn-icon.ico") no-repeat 4px 0px;}

.time {
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    color: #5b5b5b;
    vertical-align: 5%;
    margin-right: 5px;
    margin-left: 3px;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
}

img#title {
    float: left;
    clear: left;
    margin-top: 5px;
    margin-right: 10px;
    width:25px
}

div#toolbar {
    float: right;
}

div#toolbar > a > img {
    clear: left;
    margin-top: 7px;
    margin-left: 10px;
    width:22px;
    height:22px
}