body {
    min-width: 650px;
    overflow-x: hidden;
    font-family: arial, helvetica, sans-serif;
    overflow: hidden;
    color: darkgrey;
    font-size: 15px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
    vertical-align: 5%;
}

a:hover {
    color: darkred;
}

input[type='checkbox']{
    margin-right: 5px;
}

ul {
    list-style: none;
    padding: 0px;
    overflow-y: scroll;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #d0d0d0;
}

h2 {
    margin: 0px;
}

li > .logo {
    padding-left: 20px;
    padding-right: 5px;
    border-right: 1px solid #d9d9d9;
    margin-right: 3px;
}

li > .up {background: url("up-icon.ico") no-repeat 4px 0px;}
li > .lb {background: url("lb-icon.ico") no-repeat 4px 0px;}
li > .lg {background: url("liga-icon.png") no-repeat 4px 0px;}

.time {
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    color: #5b5b5b;
    vertical-align: 5%;
    margin-right: 5px;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
}

img {
    float: left;
    clear: left;
    margin-top: 0px;
    margin-right: 10px;
    width:25px
}