@font-face {
    font-family: titleFont;
    src: url(fonts/Arsenal-Regular.otf);
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    background-color: #e1e1e1;
}

h2 {
    font-size: 30px;
    font-family: titleFont, arial, helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #6f6f6f;
    background: url(img/icon48.png) no-repeat left center;
    background-size: 30px 30px;
    width: 310px;
}

h3 {
    color: #6f6f6f;
    margin-top: 0px;
}

h4 {
    border-bottom: 1px solid #adadad;
    color: #6f6f6f;
    font-size: 13px;
}

ul {
    font-size: 15px;
    margin: 10px;
    padding: 0px;
    list-style: none;
}

li {
    margin-bottom: 4px;
    line-height: 15px;
    position: relative;
    text-align: left;
}

li img {
    width: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 2px;
    margin-left: 22px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}

.option {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    background-color: #f5f5f5;
    border: solid 1px #aeaeae;
    border-radius: 6px;
    padding: 30px;
}

.sub-block {
    margin-left: 15px;
}

input[type="number"] {
    padding: 3px;
    border: solid 1px #adadad;
    border-radius: 2px;
    background-color: #eaeaea;
    width: 45px;
}

label {
    width: 65px;
    display: block;
    float: left;
    padding-top: 2px;
}

.copyright {
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
    color: #6f6f6f;
}

a {
    margin-left: 22px;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.newsSources {
    clear: left;
    padding-bottom: 180px;
}

.newsSourcesElement {
    float: right;
    width: 50%;
}