@import '../../vendor/materialize-src/sass/components/color';

$roboto-font-path: "../../vendor/materialize-src/fonts/roboto/";
$secondary-color: color("light-blue", "darken-2");

@import '../../vendor/materialize-src/sass/materialize';

$title-color: #616161;
$text-color: #210017;
$background-color: #F8F8F8;

body {
  background-color: $background-color;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  cursor: default;
}

.s-content {
  width: 500px;
  margin: 0 auto;
  user-select: none;
}

.card-panel {
  label {
    color: $text-color;
    font-size: 0.8rem;
  }
  span {
    font-size: 0.8rem;
  }
}

.s-title {
  color: $title-color;
  padding-top: 16px;
}

//.s-collection {
//  margin: 0;
//}

.row .col {
  padding: 0;
}

.ollection-r {
  margin-left: 30px;
}

.s-channel {
  //margin-bottom: 120px;

  a {
    color: $text-color;
  }
}

.material-tooltip {
  font-size: 0.8rem;
  font-weight: 500;
  min-height: 0;
  padding: 4px 8px;
}

.font-weight-500 {
  font-weight: 500;
}

.s-icon {
  margin-right: 8px;
  width: 14px;
}

.range-field {
  margin-top: 0;
  margin-bottom: 0;
}

.s-divider {
  margin-bottom: 20px;;
}