$roboto-font-path: "../../vendor/materialize-src/fonts/roboto/";

@import '../../vendor/materialize-src/sass/materialize';

body{
  background-color: #F8F8F8;
}

.s-icon{
  width: 13px;
  height: 13px;
}

input[type=range] {
  margin: 0;
}

.settings-block{
}

.settings-title{
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.settings-copyright{
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  color: #9e9e9e;
  text-align: center;
  margin-top: 60px;

}

.settings-item{
}

