@import '../../vendor/materialize-src/sass/components/color';

$roboto-font-path: "../../vendor/materialize-src/fonts/roboto/";
$secondary-color: color("indigo", "darken-1");

@import '../../vendor/materialize-src/sass/materialize';

body {
  background-color: #F8F8F8;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

.s-title {
  cursor: default;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 0rem;
}

.s-collection {
  margin-bottom: 0px;
}

.s-channel {
  margin-bottom: 5px;
}

.s-range-value {
  font-weight: 500;
}

.card-panel {
  width: 500px;
  margin: 16px auto;
}

.s-link{

}

//a.s-link:hover{
//    color: goldenrod;
//  }

.s-icon {
  margin-right: 8px;
}

.s-copyright {
  text-align: center;
  margin-top: 25px;
  cursor: default;
}