$left-margin: 16px;
$dropdown-item-height: 40px;
$navbar-height: 45px;
$navbar-height-mobile: $navbar-height;
$navbar-brand-font-size: 1.6rem;

@import "variables";
@import "../../vendor/material-icons/icon.css";
@import '../../vendor/materialize-src/sass/materialize';

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 500px;
  height: 500px;
}

.p-search{
  //display: none;
  position: absolute;
}

.p-preloader{
  z-index: 1;
  position: absolute;
  margin: auto;
}

.p-nav {
}

.p-nav-wrapper {
  background-color: #fafafa;
}

.material-icons {
  color: $title-color;
}

nav .brand-logo {
  color: $title-color;
  user-select: none;
  cursor: default;
  margin-left: $left-margin;
  //font-weight: 500;
}

nav .brand-logo.left {
  left: 0rem;
}

.s-logo {
}

.p-content {
  overflow: auto;
  height: inherit;
  width: inherit;
  overflow-x: hidden;
  padding-left: $left-margin;
}

.p-item-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 25px;
}

.p-dropdown {
  left: 200px;
}