$roboto-font-path: "../../vendor/materialize-src/fonts/roboto/";

@import "../../vendor/material-icons/icon.css";
@import '../../vendor/materialize-src/sass/materialize';

body {
  width: 500px;
  height: 500px;
}

.p-dropdown {
}